<markdown-to-html>
    ## Angular 2 + Angular CLI 
    # Instalación de nodejs
    Primero debemos tener instalado el gestor de paquetes npm y para ello necesitamos instalar nodejs
    > [nodejs](https://nodejs.org/es/download/)

    # Instalar angular CLI
    > npm install -g @angular/cli

    Dejar instalando las dependencias. Probar sobre localhost:4200

    # Instalar dependencia markdown
    > npm install ng2-markdown-to-html --save
    [markdown-to-html](https://www.npmjs.com/package/ng2-markdown-to-html)

    # Importar el módulo de markdown

    > import &#125; MarkdownToHtmlModule } from 'ng2-markdown-to-html';  
</markdown-to-html>